Repository xiaomi-mt6885-devs/pmaports_cezanne, changes with the owners that CODEOWNERS names for each.
All owners: @Newbyte, @craftyguy, @milesalan, @bshah, @proycon, @anjandev, @StacyHarper, @sdm845-mainline, @joelselvaraj, @calebccff, @amartinz, @dylanvanassche, @jenneron, @binarycraft, @Grimler, @clamor95

CODEOWNERS:

# https://docs.gitlab.com/ee/user/project/code_owners.html

device/*/*-htc-golfu/				@Newbyte
device/*/*-pine64-pinephone/			@craftyguy @milesalan @bshah @proycon @anjandev @StacyHarper
device/*/*-htc-m8qlul/				@Newbyte
device/*/*-purism-librem5/			@craftyguy @bshah
device/*/device-lg-judyln/			@Newbyte
device/*/device-samsung-m0/			@Newbyte
device/*/linux-postmarketos-exynos4/		@Newbyte
device/*/linux-postmarketos-msm8939/		@Newbyte
device/*/linux-postmarketos-stericsson/		@Newbyte
device/*/*-qcom-sdm845/				@sdm845-mainline
device/*/*-xiaomi-berrylium/ 			@joelselvaraj
device/*/device-oneplus-enchilada/		@calebccff
device/*/device-oneplus-fajita/			@calebccff
device/*/firmware-oneplus-sdm845/		@calebccff
device/*/device-shift-axolotl/			@amartinz @calebccff @dylanvanassche
device/*/*-lenovo-a6010/			@jenneron
device/*/*-lenovo-a6000/			@jenneron
device/*/device-microsoft-surface-rt/		@jenneron
device/*/device-google-fennel/			@jenneron
device/*/device-google-veyron-minnie/		@jenneron
device/*/device-google-burnet/			@jenneron
device/*/device-google-elm/			@jenneron
device/*/device-google-nyan-big/		@jenneron
device/*/device-google-peach-pi/		@jenneron
device/*/device-google-veyron-speedy/		@jenneron
device/*/linux-google-veyron/			@jenneron
device/*/u-boot-peach-pi/			@jenneron
device/*/device-google-cozmo/			@jenneron
device/*/u-boot-veyron-speedy/			@jenneron
device/*/device-google-juniper/			@jenneron @binarycraft
device/*/u-boot-peach-pit/			@jenneron
device/*/device-google-damu/			@jenneron
device/*/u-boot-nyan-4gb/			@jenneron
device/*/device-google-kenzo/			@jenneron
device/*/device-google-kodama/			@jenneron
device/*/u-boot-snow/				@jenneron
device/*/device-google-kevin/			@jenneron
device/*/linux-postmarketos-exynos5/		@jenneron @Grimler
device/*/device-google-krane/			@jenneron
device/*/soc-mediatek-mt8183/			@jenneron
device/*/u-boot-veyron-minnie/			@jenneron
device/*/device-google-fennel14/		@jenneron
device/*/linux-google-nyan/			@jenneron
device/*/device-google-willow/			@jenneron
device/*/linux-postmarketos-mediatek-mt8173/	@jenneron
device/*/linux-postmarketos-mediatek-mt8183/	@jenneron @binarycraft
device/*/device-google-nyan-blaze/		@jenneron
device/*/firmware-powervr-gx6250/		@jenneron
device/*/device-google-hana/			@jenneron
device/*/device-google-snow/			@jenneron
device/*/device-google-kappa/			@jenneron
device/*/u-boot-nyan-2gb/			@jenneron
device/*/device-google-veyron-jerry/		@jenneron
device/*/device-google-kakadu/			@jenneron
device/*/firmware-google-veyron-brcm/		@jenneron
device/*/device-google-peach-pit/		@jenneron
device/*/device-lg-judyp/			@jenneron
device/*/device-asus-tf201/			@clamor95
device/*/device-asus-tf300t/			@clamor95
device/*/device-asus-tf300tg/			@clamor95
device/*/device-asus-tf700t/			@clamor95
device/*/device-lg-p895/			@clamor95
device/*/firmware-asus-transformer/		@clamor95 @jenneron
device/*/firmware-lg-x3/			@clamor95
device/*/linux-postmarketos-grate/		@clamor95 @jenneron
device/*/device-samsung-chagallwifi		@Grimler
device/*/device-odroid-xu4			@Grimler
device/*/device-samsung-klimtlte		@Grimler
device/*/linux-samsung-klimtlte			@Grimler
device/*/firmware-odroid-xu4			@Grimler
device/*/linux-samsung-chagallwifi		@Grimler

main/postmarketos-update-depthcharge-kernel/	@jenneron
main/osk-sdl/					@craftyguy
main/postmarketos-ui-plasma-mobile/ 		@bshah
main/ttyescape					@calebccff
temp/u-boot-librem5/				@craftyguy @bshah
temp/alsa-ucm-conf-google-kukui/		@jenneron @binarycraft
temp/alsa-ucm-conf-google-gru/			@jenneron

# vim: ts=8 sw=4 et

modem/q6voiced: fix permission issue
  modem/q6voiced/APKBUILD
  modem/q6voiced/q6voiced.initd
  modem/q6voiced/q6voiced.post-install
Owners: none

purism-librem5: remove Bhushan as co-maintainer
  device/main/device-purism-librem5/APKBUILD
Owners: @craftyguy, @bshah

community/purism-librem5: move from main
  device/community/device-purism-librem5/00-mesa.sh
  device/community/device-purism-librem5/0002-udev-cameras-use-correct-path-for-modprobe-on-Alpine.patch
  device/community/device-purism-librem5/70-librem5-xwayland-accel.sh
  device/community/device-purism-librem5/70-wifi-pm.rules
  device/community/device-purism-librem5/77-mm-broadmobi-port-types.rules
  device/community/device-purism-librem5/APKBUILD
  device/community/device-purism-librem5/device-purism-librem5-smartcard.post-install
  device/community/device-purism-librem5/device-purism-librem5.post-install
  device/community/device-purism-librem5/device-purism-librem5.post-upgrade
  device/community/device-purism-librem5/deviceinfo
  device/community/device-purism-librem5/flash_script.lst
  device/community/device-purism-librem5/l5-lockdown-support.initd
  device/community/device-purism-librem5/l5-ship-mode.initd
  device/community/device-purism-librem5/modprobe.d_rsi.conf
  device/community/device-purism-librem5/modules-load.d_librem5.conf
  device/community/device-purism-librem5/org.freedesktop.GeoClue2.service
  device/community/device-purism-librem5/pcscd-librem5-reader.conf
  device/community/device-purism-librem5/pcscd-librem5.initd
  device/community/device-purism-librem5/uboot-script.cmd
  device/community/device-purism-librem5/xorg.conf
  device/community/linux-purism-librem5/APKBUILD
  device/community/linux-purism-librem5/config-purism-librem5.aarch64
  device/community/linux-purism-librem5/linux-purism-librem5.post-upgrade
Owners: @craftyguy, @bshah

purism-librem5: add workaround for modem/xhci bus disappearing issue
  device/main/device-purism-librem5/70-l5-xhci-bus-recover.rules
  device/main/device-purism-librem5/APKBUILD
  device/main/device-purism-librem5/l5-xhci-reset
Owners: @craftyguy, @bshah

starqltechn: automate dualbooting with u-boot
  .ci/shellcheck.sh
  device/testing/device-samsung-starqltechn/APKBUILD
  device/testing/device-samsung-starqltechn/android_boot_image.its
  device/testing/device-samsung-starqltechn/bootscript.sh
  device/testing/device-samsung-starqltechn/bootscript_android.sh
  device/testing/device-samsung-starqltechn/deviceinfo
  device/testing/device-samsung-starqltechn/find_image_and_boot.its
  device/testing/device-samsung-starqltechn/find_image_and_boot.sh
Owners: none

wifi driver rtl8189es/rtl8189etv for allwinner
  main/rtl8189ES/0001-dts-add-dontbeevil-pinephone-devkit.patch
  main/rtl8189ES/0002-dts-add-pinetab-dev-old-display-panel.patch
  main/rtl8189ES/0003-dts-pinetab-add-missing-bma223-ohci1.patch
  main/rtl8189ES/0004-arm64-dts-allwinner-Add-bluetooth-node-to-the-PineTa.patch
  main/rtl8189ES/0005-dts-pinetab-make-audio-routing-consistent-with-pinep.patch
  main/rtl8189ES/0006-dts-pinephone-drop-modem-power-node.patch
  main/rtl8189ES/0007-drm-panel-simple-Add-Hannstar-TQTM070CB501.patch
  main/rtl8189ES/0008-ARM-dts-sun6i-Add-GoClever-Orion-70L-tablet.patch
  main/rtl8189ES/0009-drm-panel-simple-Add-Hannstar-HSD070IDW1-A.patch
  main/rtl8189ES/0010-ARM-dts-sun6i-Add-Lark-FreeMe-70.2S-tablet.patch
  main/rtl8189ES/0011-sunxi-mmc-h6-fix.patch
  main/rtl8189ES/0012-arm64-dts-allwinner-orangepi-3-fix-ethernet.patch
  main/rtl8189ES/APKBUILD
  main/rtl8189ES/config-postmarketos-allwinner.aarch64
  main/rtl8189ES/config-postmarketos-allwinner.armv7
Owners: none

main/amlogic-usbdl: new aports (MR xxxx)
  main/amlogic-usbdl/APKBUILD
Owners: none

testing/amlogic-usbdl-payload-s905x3: new aport (MR xxxx)
  device/testing/amlogic-usbdl-payload-s905x3/APKBUILD
Owners: none

testing/amlogic-usbdl-payload-s905x2: new aport (MR xxxx)
  device/testing/amlogic-usbdl-payload-s905x2/APKBUILD
Owners: none

testing/amlogic-usbdl-payload-s905-s905x-s905w: new aports (MR xxxx)
  device/testing/amlogic-usbdl-payload-s905-s905x-s905w/APKBUILD
Owners: none

modem/msm-modem: support dual SIM activation
  modem/msm-modem/APKBUILD
  modem/msm-modem/msm-modem-uim-selection.initd
Owners: none

linux-postmarketos-amlogic: add support for X96 Max Plus device (MR 4108)
  device/testing/linux-postmarketos-amlogic/0003-arm64-dts-meson-add-initial-device-trees-for-X96-MAX.patch
  device/testing/linux-postmarketos-amlogic/APKBUILD
  device/testing/linux-postmarketos-amlogic/config-postmarketos-amlogic.aarch64
Owners: none

testing/device-amediatech-x96-max-plus: new aport (MR 4108)
  device/testing/device-amediatech-x96-max-plus/APKBUILD
  device/testing/device-amediatech-x96-max-plus/asound.state
  device/testing/device-amediatech-x96-max-plus/deviceinfo
Owners: none

device-librecomputer-lepotato: install UCM2 profiles
  device/testing/device-librecomputer-lepotato/APKBUILD
Owners: none

device-librecomputer-lafrite: install UCM2 profiles
  device/testing/device-librecomputer-lafrite/APKBUILD
Owners: none

firmware-brcm43752: upgrade to 84b8b00f57a9495c05190477c5895cd66f69b873
  device/main/firmware-brcm43752/APKBUILD
Owners: none

device-purism-librem5: upgrade to 1.51
  device/main/device-purism-librem5/0002-pm-udev-Use-DEVPATH-instead-of-ID_PATH.patch
  device/main/device-purism-librem5/0003-fix-ship-mode-linux-6.3.patch
  device/main/device-purism-librem5/APKBUILD
  device/main/device-purism-librem5/l5-brcm-bt-enable.initd
  device/main/device-purism-librem5/udev/70-brcm-bluetooth.rules
  device/main/device-purism-librem5/udev/70-wifi-pm.rules
  device/main/device-purism-librem5/udev/77-mm-broadmobi-port-types.rules
Owners: @craftyguy, @bshah

New device Realme GT 2(porsche)
  device/testing/device-realme-porsche/APKBUILD
  device/testing/device-realme-porsche/deviceinfo
  device/testing/device-realme-porsche/empty-realme-porsche.dts
  device/testing/firmware-realme-porsche/APKBUILD
  device/testing/firmware-realme-porsche/firmware.files
  device/testing/linux-realme-porsche/APKBUILD
  device/testing/linux-realme-porsche/config-realme-porsche.aarch64
Owners: none

device-asus-me176c: add option to use LTS kernel from Alpine
  device/community/device-asus-me176c/APKBUILD
Owners: none

main/postmarketos-base-ui-networkmanager: use a second usb-tethering connection (MR 4400)
  main/postmarketos-base-ui/APKBUILD
  main/postmarketos-base-ui/rootfs-usr-lib-NetworkManager-dispatcher.d-50-tethering.sh
  main/postmarketos-base-ui/rootfs-usr-lib-NetworkManager-system-connections-USB_Tethering.nmconnection
Owners: none

minetest: compile with touchscreen support
  temp/minetest/14075.patch
  temp/minetest/APKBUILD
  temp/minetest/minetest-server.confd
  temp/minetest/minetest-server.initd
  temp/minetest/minetest-server.pre-install
Owners: none

linux-postmarketos-exynos7870: depend on postmarketos-installkernel
  device/testing/linux-postmarketos-exynos7870/APKBUILD
Owners: none

linux-postmarketos-qcom-sm7150: depend on postmarketos-installkernel
  device/testing/linux-postmarketos-qcom-sm7150/APKBUILD
Owners: none

CI: test installing of postmarketos-installkernel
  .ci/testcases/test_kernel.py
Owners: none

device-lenovo-yoga-c630: new device
  device/testing/device-lenovo-yoga-c630/APKBUILD
  device/testing/device-lenovo-yoga-c630/deviceinfo
  device/testing/firmware-lenovo-yoga-c630/30-gpu-firmware.files
  device/testing/firmware-lenovo-yoga-c630/APKBUILD
  device/testing/firmware-lenovo-yoga-c630/firmware.files
Owners: none

License: EUPL -> MIT as requested
  device/testing/device-olimex-teres_i/APKBUILD
Owners: none

remove the mesa drm from deviceinfo as instructed
  device/testing/device-olimex-teres_i/deviceinfo
Owners: none

unquote the pkgname to fix lint CI
  device/testing/device-olimex-teres_i/APKBUILD
Owners: none

olimex-teres_i: New Device (OLIMEX Teres-I)
  device/testing/device-olimex-teres_i/APKBUILD
  device/testing/device-olimex-teres_i/deviceinfo
Owners: none

source: change from absolute path to relative
  device/testing/device-olimex-teres_i/APKBUILD
Owners: none

Remove EFI-specific deviceinfo for the time being
  device/testing/device-olimex-teres_i/deviceinfo
Owners: none

Remove shellcheck directives
  device/testing/device-olimex-teres_i/APKBUILD
Owners: none

Remove mesa-egl as instructed
  device/testing/device-olimex-teres_i/APKBUILD
Owners: none

remove deviceinfo_screen_* as they are not needed anymore
  device/testing/device-olimex-teres_i/deviceinfo
Owners: none

remove deviceinfo_{append_,}dtb as BL31 seems to handle it for us
  device/testing/device-olimex-teres_i/deviceinfo
Owners: none

main/device-pine64-pinephone: update for new kconfig fragments-based kernel
  device/main/device-pine64-pinephone/50-dw_hdmi.rules
  device/main/device-pine64-pinephone/APKBUILD
  device/main/device-pine64-pinephone/deviceinfo
  device/main/device-pine64-pinephone/modules-initfs
Owners: @craftyguy, @milesalan, @bshah, @proycon, @anjandev, @StacyHarper

main/linux-postmarketos-allwinner: use kconfig fragments
  device/main/linux-postmarketos-allwinner/APKBUILD
  device/main/linux-postmarketos-allwinner/arm64_defconfig
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.aarch64
  device/main/linux-postmarketos-allwinner/config-postmarketos-allwinner.armv7
  device/main/linux-postmarketos-allwinner/kconfig-0001-keyboard-as-module.config
  device/main/linux-postmarketos-allwinner/kconfig-0002-mglru.config
  device/main/linux-postmarketos-allwinner/kconfig-0003-default-cpufreq-governor.config
  device/main/linux-postmarketos-allwinner/kconfig-0004-rcu-lazy.config
  device/main/linux-postmarketos-allwinner/kconfig-0005-fscache.config
  device/main/linux-postmarketos-allwinner/kconfig-0006-rtw88.config
  device/main/linux-postmarketos-allwinner/kconfig-0007-no-modem-power.config
Owners: none

c630: drop grub
  device/testing/device-lenovo-yoga-c630/APKBUILD
Owners: none

pmos-base-ui: re-enable DNS filtering
  .ci/shellcheck.sh
  main/postmarketos-base-ui/APKBUILD
  main/postmarketos-base-ui/rootfs-usr-lib-NetworkManager-dispatcher.d-50-dns-filter.sh
Owners: none

device-pine64-pinebookpro: add display modules to initfs
  device/community/device-pine64-pinebookpro/APKBUILD
  device/community/device-pine64-pinebookpro/modules-initfs
Owners: none
